<div class="col-12 text-center" *ngIf="!pokedexLoaded" style="height: 100vh; width: 100vw; background-color: rgba(0,0,0,0.5)">
  <img class="mx-auto mt-5" src="../../assets/pikachu_loading.gif" style="display: inline-block;">
  <h2>POKÉLOADING...</h2>
</div>

<div *ngIf="pokedexLoaded" style="display: inline-block; float:left; width: 100%">
  <div class="col-lg-12"><h1 style="text-align: center"><span class="badge badge-secondary">{{pokedexName.charAt(0).toUpperCase()}}{{pokedexName.slice(1)}} Dex:</span></h1></div>
  <div id="pokeAdvanced">
    <div class="card" style="background-color: rgba(255,255,255,0.9) !important; border-radius: 0px">
      <div class="card-header" id="pokeHeading">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#pokeCollapse" aria-expanded="true" aria-controls="pokeCollapse">
            Advanced PokéSearch
          </button>
        </h5>
      </div>
      <div id="pokeCollapse" class="collapse" aria-labelledby="pokeHeading" data-parent="#pokeAdvanced">
        <div class="card-body">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="pokeAdvancedName">Starts with</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="pokeName" placeholder="Example: Bulb" aria-label="Username" aria-describedby="pokeAdvancedName">
            <div class="input-group-prepend ml-5">
              <span class="input-group-text" id="pokeAdvancedStart">From</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="pokeMinimun" placeholder="Example: 35" aria-describedby="pokeAdvancedStart">
            <div class="input-group-prepend ml-5">
              <span class="input-group-text" id="pokeAdvancedEnd">To</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="pokeMaximun" placeholder="Example: 50" aria-describedby="pokeAdvancedEnd">
          </div>

        </div>
      </div>
    </div>
  </div>

  <div id="accordion" class="mt-2" *ngFor="let pokemon of pokemonsArray | pokePipe: pokeName:pokeMinimun:pokeMaximun">
    <div class="card col-lg-4 col-md-4 col-sm-6 col-12" style="display: inline-flex; float: left; background-color:rgba(255,255,255,0.7); text-align: center">
      <div class="card-header" id="{{pokemon.entry_number}}">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" [attr.data-target]="'#'+pokemon.pokemon_species.name"
                  aria-expanded="false" [attr.aria-controls]="'#'+pokemon.pokemon_species.name" (click)="pokeCall(pokemon.pokemon_species.name); pokeCollapse()">
            Number {{pokemon.entry_number}}: {{pokemon.pokemon_species.name.charAt(0).toUpperCase()}}{{pokemon.pokemon_species.name.slice(1)}}
          </button>
        </h5>
      </div>
      <div id="{{pokemon.pokemon_species.name}}" class="collapse" style="width: 100%;"
           data-parent="#accordion">
        <div *ngIf="pokeReturn" class="card-body">
          {{pokemon.pokemon_species.name.charAt(0).toUpperCase()}}{{pokemon.pokemon_species.name.slice(1)}}
          <hr>
          <img src="{{pokeReturn.sprites.front_default}}">
          <p>National Dex ID: {{pokeReturn.id}}</p>
          <button class="btn-hover color-2" [routerLink]="['/pokemon/' + pokeReturn.id]">Detailed view</button>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

