<div class="col-12 text-center" *ngIf="!pokemonLoaded" style="height: 100vh; width: 100vw; background-color: rgba(0,0,0,0.5)">
  <img class="mx-auto mt-5" src="../../assets/pikachu_loading.gif" style="display: inline-block;">
  <h2>POKÉLOADING...</h2>
</div>
<div class="row my-5 ml-5" *ngIf="pokemonLoaded">

  <div class="card col-lg-3 col-md-3 col-sm-6 col-xs-6 col-12" style="background-color: rgba(255,255,255,0.3);border-color: rgba(0,0,0,0.5);border: 2px solid; display: inline-block; float: left;">
    <img class="card-img-top pokeshiny" src="{{pokemon.sprites.front_default}}">
    <hr>
    <div class="card-body">
      <p class="card-text" style="text-align: center"><span style="font-size: large">{{pokemon.name.charAt(0).toUpperCase()}}{{pokemon.name.slice(1)}}</span></p>
    </div>
  </div>
  <div class="card mx-3 col-lg-5 col-md-5 col-sm-5 col-12" style="display: inline-block; float: left;">
    <div class="card-header alert alert-warning">
      Stats
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Name: {{pokemon.name.charAt(0).toUpperCase()}}{{pokemon.name.slice(1)}}</li>
      <li class="list-group-item">Base experience: {{pokemon.base_experience}}xp</li>
      <li class="list-group-item">Weight: {{pokemon.weight/10}}kg</li>
      <li class="list-group-item">Height: {{pokemon.height/10}}m</li>
      <li class="list-group-item">National Dex ID: {{pokemon.id}}</li>
      <li class="list-group-item">Type/s: <span *ngFor="let type of pokemonArrayTypes">{{type.type.name.charAt(0).toUpperCase()}}{{type.type.name.slice(1)}} </span></li>
    </ul>
  </div>
  <div class="card col-lg-3 col-md-3 col-sm-11 col-11" style="display: inline-block; float: left;">
    <div class="card-header">
      Base stats on level 1
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let pokestat of pokemonArrayStats">{{pokestat.stat.name.charAt(0).toUpperCase()}}{{pokestat.stat.name.slice(1)}}: {{pokestat.base_stat}}</li>
    </ul>
  </div>

</div>
<div class="row" *ngIf="pokemonLoaded">
  <button class="btn btn-link col-6" [routerLink]="['/pokemon/' + (pokemon.id - 1)] "style="height: 50px; border: 0px; text-align: left; color: white;background-color: rgba(255,255,255,0.4); border-radius: 0px;"><b>&nbsp;&nbsp; <- Previous Pokemon (ID: {{pokemon.id -1}})</b></button>
  <button class="btn btn-link col-6" [routerLink]="['/pokemon/' + (pokemon.id + 1)] "style="height: 50px; border: 0px; text-align: right; color: white;background-color: rgba(255,255,255,0.4); border-radius: 0px;"><b> Next Pokemon (ID: {{pokemon.id +1}}) ->&nbsp;&nbsp;</b></button>
</div>


